@import url('https://fonts.googleapis.com/css2?family=Long+Cang&family=Montserrat:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat',sans-serif;
}

.landing-page{
    color: #fff;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: url(./images/montreal.jpg) center center / cover;
}

/* -- HEADER -- */

header{
    display: flex;
    padding: 1rem;
    height: 5rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid #fff;
    color: #fff;
}

header h1{
    display: flex;
    align-items: center;
}

header h1 i{
    margin-right: .5rem;
    font-size: 1.5rem;
    color: #FFDC33;
}

header h1 a{
    font-size: 3rem;
    font-family:'Long Cang',cursive;
    text-decoration: none;
    color: #fff;
}

header ul{
    display: flex;
    flex-flow: row nowrap ;
    list-style-type: none;
}

nav a:visited{
    color: #fff;
}

header li a{
    text-decoration: none;
    padding: 1.1rem;
}

header li a:hover{
   color: #FFDC33;
}

/* -- FRONT PAGE -- */
.intro-container{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.content{
    width: 55rem;
    text-align: center;
    margin-bottom: 2rem;
}

.content h1{
    font-size: 3rem;
}

.content p{
    margin-top: 25px;
    font-size: 1.8rem;
    font-weight: 300;
}

.content span{
    color: #FFDC33;
    font-weight: 400;
}

/* -- OFFERS -- */

.offers{
    background-color: #efefef;
    display: flex;
    width: 100%;
}

.container{
    margin: 10vh 15vw;
    height: 470px;
    
}

.container h1{
    font-weight: 300;
    margin-bottom: 4rem;
    font-size: 3rem;
}

.houses{
    display: flex;
    margin: 1rem;
    
}

.house-elem{
    
    text-align: center;
    border: 1px solid #dedede;
    background-color: #fff;
    font-weight: 400;
    line-height: 2rem;
    margin: 0 1vw;
}

.house-elem p{
margin: 1rem;
}

.separator{
    border: 1px solid black;
    width: 50px;
    margin-left: 85px;
}

.house-elem img{
    width: 100%;
}
