@import url('https://fonts.googleapis.com/css2?family=Long+Cang&family=Montserrat:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --second-color:#ffdc35;
}

body{
    font-family: 'Montserrat',sans-serif;
    background-color: #efefef;
}

img{
    width: 100%;
}

.landing-page{
    color: #fff;
    height: 100vh;
    background: url(./images/montreal.jpg) center center / cover;
}

.dark{
    background-color: #333;
}

/* -- HEADER -- */

header{
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    padding: 1rem;
    height: 5rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid #fff;
    color: #fff;
}

header h1{
    display: flex;
    align-items: center;
}

header h1 i{
    margin-right: .5rem;
    font-size: 1.5rem;
    color: var(--second-color);
}

header h1 a{
    font-size: 3rem;
    font-family:'Long Cang',cursive;
    text-decoration: none;
    color: #fff;
}

header ul{
    display: flex;
    flex-flow: row nowrap ;
    list-style-type: none;
}

nav a:visited{
    color: #fff;
}

header li a{
    text-decoration: none;
    padding: 1.1rem;
}

header li a:hover{
   color: var(--second-color);
}

/* -------FIRST PAGE--------*/

.intro-container{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.content h1{
    font-size: 3rem;
}

.content{
    max-width: 800px;
    text-align: center;
}

.content p{
    margin-top: 25px;
    font-size: 1.8rem;
    font-weight: 300;
}

span{
    color: var(--second-color);
    font-weight: 400;
}

/* -----OFFERS------ */ 

.offers{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    padding: 3rem;
}

.container{
    height: 80%;
    width: 80%;
}

.container h1{
    font-weight: 300;
    margin-bottom: 4rem;
    font-size: 2.5rem;
}

.houses{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.house-elem {
    width: 30%;
    text-align: center;
    border: 1px solid #dedede;
    background-color: #fff;
    line-height: 2rem;
    margin-right: 1rem;
}

.house-elem img{
    width: 100%;
}

.separator{
    border: 1px solid black;
    width: 25%;
    margin: 0 35%;
}

.house-elem p{
    margin: 1rem;
}

/* ------ABOUT -------*/

.about{
    height: 500px;
    display: flex;
    flex-direction: row;
}

.about-img{
    background: url(./images/team.jpg) center center / cover;
    width: 175%;
}

.about-text{
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    line-height: 2rem;
}

.about-text h2{
    margin-bottom:3rem;
}

/* ----- REVIEW -----*/
.reviews{
    height: 800px;
    display: flex;
    justify-content: center;
}

.reviews-box{
    display: block;
    height: 100%;
    width: 60%;
}

.reviews-box h2{
    margin: 4rem 0;
}

.review{
    font-size: .8rem;
    font-weight: 300;
    line-height: 1.5rem;
    border-radius: 5px;
    display: flex;
    height: 22%;
    background-color: #fff;
    margin: 2rem 0;
}

.review-text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}


.review:nth-of-type(even){
    flex-direction: row-reverse;
    padding-left: 10px;
}


.profile{
    display: block;
    width: 25%;
    padding: 20px;
}

.profile h5{
    font-size: .8rem;
}

.profile em{
    font-size: .7rem;
    margin: 0;
    padding: 0;
}
.profile img{
    border-radius: 50%;
    max-width: 50px;
}

/* ----- CONTACT -----*/


.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
}

.contact-box{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    color: #fff;
    width: 60%;
    margin: auto;
}



.contact-box input{
    height: 80px;
    font-size: 1rem;
}

.contact-box textarea{
    padding-top: 20px;
    height: 60px;
}




.form-control input{
    color: #fff;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #444;
    margin-bottom: 1rem;
    width: 100%;
}

.form-control textarea{
    color: #fff;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #444;
    margin-bottom: 1rem;
    width: 100%;
}




.form-control input:focus,
.form-control input:valid{
    outline: 0;
}
.form-control textarea:focus,
.form-control textarea:valid{
    outline: 0;
}

.btn{
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    background-color: var(--second-color);
    padding: 15px;
    border-radius: 17px;
    border: 0;
    align-self: center;
}

.btn:active{
    transform: scale(0.95);
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    background-color: #444;
    color: #efefef;
    width:100%;
}
