@import url('https://fonts.googleapis.com/css2?family=Long+Cang&family=Montserrat:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --second-color:#ffdc35;
}

::placeholder{
    color: #999;
    padding-left: 10px;
}

body{
    font-family: 'Montserrat',sans-serif;
    background-color: #efefef;
}

.container{
    display: block;
    width: 100%;
}

.wrapper{
    display: block;
    width: 80%;
    max-width: 100%;
    margin: 0 auto;
}

img{
    max-width: 100%;
}

span{
    color: var(--second-color);
    font-weight: 400;
}

.dark{
    background-color: #333;
}

/* --Hero Page-- */

.hero-page{
    color: #fff;
    height: 100vh;
    background: url(./images/montreal.jpg) center center / cover;
}

h2{
    font-weight: 300;
}

/* --Header-- */

header{
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    padding: 1rem;
    height: 5rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid #fff;
    color: #fff;
}

header h1{
    display: flex;
    align-items: center;
}

header h1 i{
    margin-right: .5rem;
    font-size: 1.5rem;
    color: var(--second-color);
}

header h1 a{
    font-size: 3rem;
    font-family:'Long Cang',cursive;
    text-decoration: none;
    color: #fff;
}

header ul{
    display: flex;
    flex-flow: row nowrap ;
    list-style-type: none;
}

nav a:visited{
    color: #fff;
}

header li a{
    text-decoration: none;
    padding: 1.1rem;
}

header li a:hover{
   color: var(--second-color);
}

/* -------FIRST PAGE--------*/

.hero-container{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.content h1{
    font-size: 3rem;
}

.content{
    max-width: 800px;
    text-align: center;
}

.content p{
    margin-top: 25px;
    font-size: 1.8rem;
    font-weight: 300;
}

/* -----OFFERS------ */ 

.offers{
    padding: 100px 0;
}

.container h1{
    font-weight: 300;
    margin-bottom: 4rem;
    font-size: 2.5rem;
}

.houses{
    display: flex;
    justify-content: space-around;
}

@media(max-width: 1080px){
    .landing-page{
        height: auto;
        padding: 0 0 50px 0;
    }
    .houses,.about-flex{
        flex-direction: column;
    }
    .house-elem,.about-flex img,.about-text{
        width: 100% !important;
        margin: 25px 0;
    }

    .about-flex{
        width: 80%;
        margin: 25px 10%;
    }

    .about-flex img,.about-text{
        margin: 0;
    }

    .about-text{
        padding: 35px!important;
    }
    .review:nth-of-type(even){
        flex-direction: column;
        padding-left: 10px;
    }
}


.house-elem {
    display: flex;
    flex-flow: column wrap;
    width: 30%;
    text-align: center;
    border: 1px solid #dedede;
    background-color: #fff;
    line-height: 2rem;

}

.house-elem img{
    width: 100%;
}

.separator{
    border: 1px solid black;
    width: 25%;
    margin: 0 35%;
}

.house-elem p{
    margin: 1rem;
}

/* ------ABOUT -------*/

.about{
    height: auto;
    display: block;
}

.about-flex{
    display: flex;
}
.about-text{
    width: 55%;
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    line-height: 2rem;
}


.about-flex img{
    width: 45%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.about-text h2{
    margin-bottom:3rem;
}

/* ----- REVIEW -----*/

.reviews{
  padding: 100px 0;
}

.reviews-box{
    display: block;
    margin: auto;
    max-width:800px ;
}


.review{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    font-weight: 300;
    line-height: 1.5rem;
    border-radius: 5px;
    height: 22%;
    background-color: #fff;
    margin: 2rem 0;
}

.review-text{
    padding:2rem;
}

.review:nth-of-type(even){
    flex-direction: row-reverse;
    padding-left: 10px;
}

.profile{
    width: 25%;
    padding: 10px;
}

.profile h5{
    font-size: .8rem;
}

.profile em{
    font-size: .7rem;
}
.profile img{
    border-radius: 50%;
    max-width: 50px;
}

/* ----- CONTACT -----*/


.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
}

.contact-box{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    color: #fff;
    width: 60%;
    margin: auto;
}




.contact-box input{
    height: 80px;
    font-size: 1rem;
}

.contact-box textarea{
    padding-top: 20px;
    height: 60px;
    font-size: 1rem;
}

.form-control input{
    color: #999;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #444;
    margin-bottom: 1rem;
    width: 100%;
}

.form-control textarea{
    color: #fff;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #444;
    margin-bottom: 1rem;
    width: 100%;
}

.form-control input:focus,
.form-control input:valid{
    outline: 0;
}

.form-control textarea:focus,
.form-control textarea:valid{
    outline: 0;
}

.btn{
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    background-color: var(--second-color);
    padding: 15px;
    border-radius: 17px;
    border: 0;
    align-self: center;
}

.btn:active{
    transform: scale(0.95);
}


/* ----FOOTER---- */
.footer{
    text-align: center;
    padding: 25px 0;
    background-color: #444;
    color: #efefef;
}
