@import url('https://fonts.googleapis.com/css2?family=Long+Cang&family=Montserrat:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat',sans-serif;
}

.landing-page{
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: url(./images/montreal.jpg) center center / cover;
}

/* --HEADER-- */

header{
    display: flex;
    padding: 1rem;
    height: 5rem;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid #fff;
    color: #fff;
}

header h1{
    display: flex;
    align-items: center;
}

header h1 i{
    margin-right: .5rem;
    font-size: 1.5rem;
    color: #FFDC33;
}

header h1 a{
    font-size: 3rem;
    font-family:'Long Cang',cursive;
    text-decoration: none;
    color: #fff;
}

header ul{
    display: flex;
    flex-flow: row nowrap ;
    list-style-type: none;
}

nav a:visited{
    color: #fff;
}

header li a{
    text-decoration: none;
    padding: 1.1rem;
}

header li a:hover{
   color: #FFDC33;
}




.landing-page p{
    color: #fff;
}